<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cineticaapp20160321115247.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>cineticaapp20160321115247.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CineticaApp20160321115247</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CineticaApp20160321115247</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CineticaAppContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:cineticaapp20160321115247dbserver.database.windows.net,1433;Initial Catalog=CineticaApp20160321115247_db;User ID=pedro.dias@northgate-is.com@cineticaapp20160321115247dbserver;Password=Sporting9!" Name="Data Source=tcp:cineticaapp20160321115247dbserver.database.windows.net,1433;Initial Catalog=CineticaApp20160321115247_db;User Id=pedro.dias@northgate-is.com@cineticaapp20160321115247dbserver;Password=Sporting9!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CineticaApp.Models.CineticaAppContext, CineticaApp" MigrationConfiguration="CineticaApp.Migrations.Configuration, CineticaApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CineticaAppContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:cineticaapp20160321115247dbserver.database.windows.net,1433;Initial Catalog=CineticaApp20160321115247_db;User Id=pedro.dias@northgate-is.com@cineticaapp20160321115247dbserver;Password=Sporting9!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>